.article--text-link {
  color: var(--lc);
}

.article--text-link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.article--text-link:focus-visible {
  outline: 1px solid var(--lc);
  padding-inline: 4px;
}
