.content--list {
  padding: 0 0 0 40px;
  list-style: none;
}

.content--list li {
  position: relative;
}

.content--list li::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  margin-block-start: -7.5px;
  background-image: var(--list-style-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inset-block-start: 50%;
  inset-inline-start: -25px;
}

.content--list > :not(:last-child) {
  padding-block-end: 10px;
}
