.form-switcher--label {
  padding-inline: 2px;
  align-self: center;
}

.form-switcher--label:hover {
  cursor: pointer;
  opacity: 0.5;
}

.form-switcher--radio:checked + .form-switcher--span .form-switcher--label {
  font-weight: var(--fwla);
}

.form-switcher--radio:focus-visible
  + .form-switcher--span
  .form-switcher--label {
  outline: 1px solid var(--fvc);
}

.form-switcher--radio:focus-visible + .accent-span > .form-switcher--label {
  padding: 8px 10px;
  outline-offset: -8px;
}
