.article--image-description-title {
  font-family: var(--ffh, --fh);
  font-size: var(--fsfh);
  line-height: 90%;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 635px) {

  .how-work {
    font-size: var(--fsfh320);
  }
}
