.article--figure {
  margin: 0;
  border-block-end: 1px solid var(--bcfa);
}

.article--figure-wi {
  display: flex;
  border: 1px solid var(--bcfa);
  min-height: 972px;
  align-items: center;
}

@media screen and (max-width: 635px) {

  .article--figure-wi {
    min-height: 245px;
  }
}
