.article--figure {
  --bc: var(--bcs);

  margin: 0;
  border-block-end: 1px solid var(--bc);
}

.article--figure-wi {
  display: flex;
  border: 1px solid var(--bc);
  min-height: 972px;
  align-items: center;
}
