.content-section {
  --bgcs: var(--light-color);
  --tcs: var(--darkblue-color);
  --bcs: var(--darkblue-color);
  --flspbgc: var(--orange-color, #ffab6b);
  --flspbc: var(--transparent-color, #b3b3b300);
  --lcs: var(--tcs);
  --lasffw: var(--accent-fw);
  --lasfbgc: var(--orange-color);
  --asbgc: var(--orange-color);
  --asbgcd1: transparent;
  --asbgcd2: transparent;
  --lstsul: url(../../../images/marker-light.svg);

  width: clamp(360px, 100%, 1440px);
  margin: auto;
  background-color: var(--bgcs, #f3efec);
  color: var(--tcs, #312a4e);
  box-sizing: border-box;
}
