.footer {
  padding-block: 36px;
  border-block-start: 1px solid #312a4e;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 635px) {

  .footer {
    padding-block: 9px;
  }
}
