:root {
  /*цвета для темы*/
  --light-color: #f3efec;
  --dark-color: #171717;
  /*цвета для текста*/
  --darkblue-color: #312a4e;
  --orange-color: #ffab6b;
  --gray-color: #b3b3b3;
  --transparent-color: #0000;
  /*шрифты*/
  --raleway: 'Raleway';
  --stix: 'STIX Two Text';
}

.page {
  --main-font: var(--raleway, sans-serif);
  --accent-font: var(--stix, serif);
  --main-size: 18px;
  --accent-main-size: 30px;
  --main-fw: 400;
  --accent-fw: 700;
  --bg-color: var(--light-color, #fff);
  --text-color: var(--darkblue-color, #000);
  --accent-color: var(--orange-color, #f00);
  --list-style-url: url(../../../images/marker-light.svg);

  width: 100%;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--main-size);
  font-weight: var(--main-fw);
  color: var(--text-color);
}
