:root {
  /*цвета для темы*/
  --light-color: #f3efec;
  --dark-color: #171717;
  /*цвета для текста*/
  --darkblue-color: #312a4e;
  --gray-color: #b3b3b3;
  --gray-color-transprent: #b3b3b399;
  --orange-color: #ffab6b;
  --transparent-color: #ffab6b00;
  /*шрифты*/
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
  --main-size: 18px;
  --h1-size: 120px;
  --h2-size: 30px;
  --h3-size: 60px;
  --main-fw: 400;
  --accent-fw: 700;
}

.page {
  --fp: var(--main-font);
  --fsp: var(--main-size);
  --fwp: var(--main-fw);

  font-family: var(--fp, sans-serif);
  font-size: var(--fsp, 18px);
  font-weight: var(--fwp, 400);
  width: 100%;
}
