.header--theme-button-is-active {
  font-weight: var(--accent-fw);
  position: relative;
}

.header--theme-button-is-active::after {
  content: '';
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.4ch;
  inset-inline-start: -4px;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme-dark .header--theme-button-is-active::after {
  background-image: url(../../../../images/pattern.svg);
}

.header--theme-button-is-active:hover {
  border: none;
}

.header--theme-button-is-active:disabled {
  pointer-events: none;
}
