.article {
  /*default parameter for artice*/
  --fh: var(--accent-font, 'serif'); /* font title*/
  --fp: var(--h2-size, 'sans-serif'); /*font text*/
  --fsh: 30px; /*font size title*/
  --fsp: 18px; /*font size text*/
  --fwh: var(--accent-fw, 700); /*font weight title*/
  --c: #312a4e; /*color*/
  --flpbgc: var(--flspbgc, #ffab6b); /*first letter text background color*/
  --flpbc: var(--flspbc, #b3b3b300); /*flt border color*/
  --flpfs: var(--h2-size, 30px); /*flt font size*/
  --flpfw: var(--accent-fw, 700); /*flt font weight*/
  --flwb: var(--flpbc); /*flt with border*/
  --bcfa: var(--bcs, #312a4e); /*border color figure*/
  --lc: var(--lcs, var(--c)); /*link color*/
  --ffh: var(--accent-font, var(--fh)); /*font figure title*/
  --ffp: var(--main-font, var(--fp)); /*font size text*/
  --fsfh: var(--h3-size, 60px); /*font size figure title*/
  --fsfp: var(--main-size); /*font size figure text*/
  --bcfh: var(--orange-color, #ffab6b); /*background color figure title*/
  --lst: var(--lstsul); /*list style type*/

  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
